node_modules/
dist/
src/assets/videos/
src/assets/videos_optimized/
src/assets/audios/
src/assets/audio/
.DS_Store
src/assets/images/
public/videos/
public/videos/
.env.local
public/videos/
.env.local
